body {
    background-color: white;
    font-family: 'Baloo 2', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.home-link {
    position: fixed;
    top: 20px;
    left: 20px;
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.5s;
}

.dark-theme .home-link {
    color: #ffffff;
}

.theme-toggle-button {
    position: fixed;
    top: 16px;
    left: 90px;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
    z-index: 10;
    transition: color 0.5s;
}

.dark-theme .theme-toggle-button i {
    color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h1 {
    margin-top: 20px;
    font-size: 2em;
}

.social-links .social-icon {
    margin: 0 10px;
    font-size: 35px;
    color: rgb(8, 8, 8);
    transition: color 0.5s;
}

.dark-theme .social-links .social-icon {
    color: #ffffff;
}

.nav-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #fac5cc;
    color: white;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: 17px;
}
